In [9]:
key = pd.read_csv('key.csv')
key

    store_nbr  station_nbr
0           1            1
1           2           14
2           3            7
3           4            9
4           5           12
5           6           14
6           7            6
7           8            4
8           9           17
9          10           12
10         11           10
11         12           11
12         13            6
13         14           16
14         15           13
15         16            2
16         17           20
17         18           17
18         19           15
19         20            7
20         21            3
21         22           10
22         23           17
23         24            9
24         25           13
25         26           17
26         27           10
27         28            7
28         29            3
29         30           19
30         31           17
31         32           13
32         33            3
33         34           17
34         35            5
35         36           18
36         37           13
37         38           14
38         39            8
39         40           13
40         41           12
41         42           14
42         43           11
43         44           12
44         45           16

In [18]:
sampleSubmission = pd.read_csv('sampleSubmission.csv')
sampleSubmission

                       id  units
0          2_1_2013-04-01      0
1          2_2_2013-04-01      0
2          2_3_2013-04-01      0
3          2_4_2013-04-01      0
4          2_5_2013-04-01      0
5          2_6_2013-04-01      0
6          2_7_2013-04-01      0
7          2_8_2013-04-01      0
8          2_9_2013-04-01      0
9         2_10_2013-04-01      0
10        2_11_2013-04-01      0
11        2_12_2013-04-01      0
12        2_13_2013-04-01      0
13        2_14_2013-04-01      0
14        2_15_2013-04-01      0
15        2_16_2013-04-01      0
16        2_17_2013-04-01      0
17        2_18_2013-04-01      0
18        2_19_2013-04-01      0
19        2_20_2013-04-01      0
20        2_21_2013-04-01      0
21        2_22_2013-04-01      0
22        2_23_2013-04-01      0
23        2_24_2013-04-01      0
24        2_25_2013-04-01      0
25        2_26_2013-04-01      0
26        2_27_2013-04-01      0
27        2_28_2013-04-01      0
28        2_29_2013-04-01      0
29        2_30_2013-04-01      0
...                   ...    ...
526887   45_82_2014-10-26      0
526888   45_83_2014-10-26      0
526889   45_84_2014-10-26      0
526890   45_85_2014-10-26      0
526891   45_86_2014-10-26      0
526892   45_87_2014-10-26      0
526893   45_88_2014-10-26      0
526894   45_89_2014-10-26      0
526895   45_90_2014-10-26      0
526896   45_91_2014-10-26      0
526897   45_92_2014-10-26      0
526898   45_93_2014-10-26      0
526899   45_94_2014-10-26      0
526900   45_95_2014-10-26      0
526901   45_96_2014-10-26      0
526902   45_97_2014-10-26      0
526903   45_98_2014-10-26      0
526904   45_99_2014-10-26      0
526905  45_100_2014-10-26      0
526906  45_101_2014-10-26      0
526907  45_102_2014-10-26      0
526908  45_103_2014-10-26      0
526909  45_104_2014-10-26      0
526910  45_105_2014-10-26      0
526911  45_106_2014-10-26      0
526912  45_107_2014-10-26      0
526913  45_108_2014-10-26      0
526914  45_109_2014-10-26      0
526915  45_110_2014-10-26      0
526916  45_111_2014-10-26      0

[526917 rows x 2 columns]

In [98]:
test = pd.read_csv('test.csv')
#test1 = test[test["store_nbr"] > 45].sort_values(by=["store_nbr"], ascending=False).reset_index(drop=True)
test.sort_values(by = ['date'], ascending=True)

              date  store_nbr  item_nbr
0       2013-04-01          2         1
892     2013-04-01         28         5
891     2013-04-01         28         4
890     2013-04-01         28         3
889     2013-04-01         28         2
888     2013-04-01         28         1
887     2013-04-01         20       111
886     2013-04-01         20       110
893     2013-04-01         28         6
885     2013-04-01         20       109
883     2013-04-01         20       107
882     2013-04-01         20       106
881     2013-04-01         20       105
880     2013-04-01         20       104
879     2013-04-01         20       103
878     2013-04-01         20       102
877     2013-04-01         20       101
884     2013-04-01         20       108
894     2013-04-01         28         7
895     2013-04-01         28         8
896     2013-04-01         28         9
913     2013-04-01         28        26
912     2013-04-01         28        25
911     2013-04-01         28        24
910     2013-04-01         28        23
909     2013-04-01         28        22
908     2013-04-01         28        21
907     2013-04-01         28        20
906     2013-04-01         28        19
905     2013-04-01         28        18
...            ...        ...       ...
526563  2014-10-26         14        91
526562  2014-10-26         14        90
526561  2014-10-26         14        89
526560  2014-10-26         14        88
526559  2014-10-26         14        87
526558  2014-10-26         14        86
526557  2014-10-26         14        85
526556  2014-10-26         14        84
526555  2014-10-26         14        83
526554  2014-10-26         14        82
526553  2014-10-26         14        81
526552  2014-10-26         14        80
526551  2014-10-26         14        79
526550  2014-10-26         14        78
526536  2014-10-26         14        64
526537  2014-10-26         14        65
526538  2014-10-26         14        66
526539  2014-10-26         14        67
526540  2014-10-26         14        68
526541  2014-10-26         14        69
526534  2014-10-26         14        62
526542  2014-10-26         14        70
526544  2014-10-26         14        72
526545  2014-10-26         14        73
526546  2014-10-26         14        74
526547  2014-10-26         14        75
526548  2014-10-26         14        76
526549  2014-10-26         14        77
526543  2014-10-26         14        71
526916  2014-10-26         45       111

[526917 rows x 3 columns]

In [97]:
tk = test.merge(key, left_on="store_nbr", right_on="store_nbr")
#tk = tk[tk["store_nbr"] != 2]
tk.tail()

              date  store_nbr  item_nbr  station_nbr
526912  2014-08-02         40       107           13
526913  2014-08-02         40       108           13
526914  2014-08-02         40       109           13
526915  2014-08-02         40       110           13
526916  2014-08-02         40       111           13

In [18]:
train = pd.read_csv('train.csv')

train.sort_values(by = ['date'], ascending=False) #4617600
train.tail()

               date  store_nbr  item_nbr  units
4617595  2014-10-31         45       107      0
4617596  2014-10-31         45       108      0
4617597  2014-10-31         45       109      0
4617598  2014-10-31         45       110      0
4617599  2014-10-31         45       111      0

In [ ]:
rt = train[train["units"] > 0].sort_values(by=["units"], ascending=False).reset_index(drop=True) # 118696
rt

In [16]:
result = rt.groupby("date").sum()["units"].reset_index() # 날짜별 판매 갯수
result

            date  units
0     2012-01-01   6601
1     2012-01-02   7802
2     2012-01-03   6605
3     2012-01-04   5512
4     2012-01-05   7533
5     2012-01-06   6186
6     2012-01-07   7757
7     2012-01-08   8329
8     2012-01-09   5782
9     2012-01-10   6781
10    2012-01-11   5317
11    2012-01-12   5345
12    2012-01-13   5811
13    2012-01-14   7423
14    2012-01-15   7283
15    2012-01-16   5884
16    2012-01-17   4776
17    2012-01-18   4553
18    2012-01-19   4822
19    2012-01-20   5070
20    2012-01-21   6320
21    2012-01-22   7065
22    2012-01-23   5413
23    2012-01-24   4458
24    2012-01-25   4157
25    2012-01-26   4507
26    2012-01-27   4688
27    2012-01-28   6207
28    2012-01-29   6749
29    2012-01-30   4698
...          ...    ...
1004  2014-10-02   1968
1005  2014-10-03   2730
1006  2014-10-04   3126
1007  2014-10-05   4477
1008  2014-10-06   4282
1009  2014-10-07   2863
1010  2014-10-08   2238
1011  2014-10-09   2178
1012  2014-10-10   2276
1013  2014-10-11   2389
1014  2014-10-12   2909
1015  2014-10-13   1919
1016  2014-10-14   1625
1017  2014-10-15   1805
1018  2014-10-16   1658
1019  2014-10-17   3122
1020  2014-10-18   3667
1021  2014-10-19   4193
1022  2014-10-20   3347
1023  2014-10-21   2588
1024  2014-10-22   2740
1025  2014-10-23   2562
1026  2014-10-24   2857
1027  2014-10-25   3537
1028  2014-10-26   4035
1029  2014-10-27   3415
1030  2014-10-28   2696
1031  2014-10-29   2727
1032  2014-10-30   2645
1033  2014-10-31   2850

[1034 rows x 2 columns]

In [10]:
tmpRTResult = result.merge(key, left_on="store_nbr" , right_on="store_nbr")
tmpRTResult

              date  store_nbr  item_nbr  units  station_nbr
0       2012-11-15         37         5   5568           13
1       2013-11-21         37         5   3369           13
2       2014-01-26         37         5    154           13
3       2012-04-01         37         5    129           13
4       2012-01-21         37         5    127           13
5       2012-09-25         37         5    124           13
6       2012-02-02         37         5    122           13
7       2013-10-20         37         5    122           13
8       2012-02-11         37         5    122           13
9       2014-01-25         37         5    121           13
10      2013-09-22         37         5    120           13
11      2012-03-04         37         5    119           13
12      2013-02-10         37        45    118           13
13      2012-01-07         37         5    112           13
14      2012-04-15         37         5    108           13
15      2012-12-16         37        45    108           13
16      2013-11-15         37         5    106           13
17      2012-02-13         37         5    103           13
18      2012-06-03         37        45    103           13
19      2012-09-09         37        45    103           13
20      2012-08-19         37         5    103           13
21      2012-06-03         37         5    102           13
22      2012-01-02         37         5    102           13
23      2013-01-04         37         5    102           13
24      2012-10-21         37        45    101           13
25      2012-08-19         37        45    100           13
26      2012-03-04         37        45     99           13
27      2013-01-27         37         5     98           13
28      2013-11-13         37         5     98           13
29      2012-12-08         37        45     98           13
...            ...        ...       ...    ...          ...
118666  2013-07-22         39         9      1            8
118667  2013-07-18         39       103      1            8
118668  2013-06-28         39       103      1            8
118669  2013-06-28         39         9      1            8
118670  2013-06-26         39       103      1            8
118671  2013-07-06         39       103      1            8
118672  2013-07-01         39       103      1            8
118673  2013-08-25         39         9      1            8
118674  2013-07-31         39       103      1            8
118675  2013-08-03         39       103      1            8
118676  2013-08-01         39       103      1            8
118677  2013-07-27         39       103      1            8
118678  2013-08-10         39       103      1            8
118679  2013-08-05         39       103      1            8
118680  2013-05-06         39         9      1            8
118681  2013-05-05         39         9      1            8
118682  2013-05-03         39        36      1            8
118683  2013-05-03         39         9      1            8
118684  2013-04-26         39       103      1            8
118685  2013-04-21         39         9      1            8
118686  2013-04-30         39       103      1            8
118687  2013-06-10         39       103      1            8
118688  2013-06-05         39       103      1            8
118689  2013-06-22         39         9      1            8
118690  2013-05-21         39         9      1            8
118691  2013-05-24         39       103      1            8
118692  2013-05-24         39         9      1            8
118693  2013-05-31         39         9      1            8
118694  2013-06-01         39       103      1            8
118695  2013-05-27         39         9      1            8

[118696 rows x 5 columns]

In [2]:
weather = pd.read_csv('weather.csv')
weather["Count"] = 1
weather

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,Count
0,1,2012-01-01,52,31,42,M,36,40,23,0,...,-,RA FZFG BR,M,0.05,29.78,29.92,3.6,20,4.6,1
1,2,2012-01-01,48,33,41,16,37,39,24,0,...,1626,RA,0.0,0.07,28.82,29.91,9.1,23,11.3,1
2,3,2012-01-01,55,34,45,9,24,36,20,0,...,1720,,0.0,0.00,29.77,30.47,9.9,31,10.0,1
3,4,2012-01-01,63,47,55,4,28,43,10,0,...,1742,,0.0,0.00,29.79,30.48,8.0,35,8.2,1
4,6,2012-01-01,63,34,49,0,31,43,16,0,...,1742,,0.0,0.00,29.95,30.47,14.0,36,13.8,1
5,7,2012-01-01,50,33,42,M,26,35,23,0,...,-,,0.0,0.00,29.15,30.54,10.3,32,10.2,1
6,8,2012-01-01,66,45,M,M,34,46,M,M,...,-,RA BR,M,0.00,30.05,M,11.0,36,10.9,1
7,9,2012-01-01,34,19,27,M,17,23,38,0,...,-,UP,M,T,29.34,30.09,22.8,30,22.5,1
8,10,2012-01-01,73,53,63,M,55,58,2,0,...,1738,FG+ FG BR,M,0.00,30.16,30.19,5.1,24,5.5,1
9,11,2012-01-01,72,48,60,7,54,56,5,0,...,1737,FG+ FG BR,0.0,0.00,30.15,30.18,4.6,23,4.8,1
10,12,2012-01-01,72,48,60,M,54,57,5,0,...,-,FG+ FG BR,0.0,0.00,30.15,30.19,4.4,25,4.8,1
11,13,2012-01-01,38,18,28,M,12,21,37,0,...,-,,M,0.00,24.60,30.59,2.5,16,6.1,1
12,14,2012-01-01,50,34,42,5,25,35,23,0,...,1729,,0.0,0.00,29.13,30.52,11.4,32,11.3,1
13,15,2012-01-01,48,26,37,16,35,38,28,0,...,1621,RA FG+ FZFG BR,0.0,0.09,29.53,29.89,2.5,17,3.8,1
14,16,2012-01-01,50,30,40,M,37,40,25,0,...,-,RA MIFG BR,M,T,29.80,29.89,4.2,21,6.8,1
15,17,2012-01-01,56,38,47,M,23,37,18,0,...,-,,0.0,0.00,29.83,30.50,5.4,32,5.8,1
16,18,2012-01-01,59,40,50,4,28,40,15,0,...,1732,,0.0,0.00,29.98,30.49,9.0,33,8.9,1
17,19,2012-01-01,38,25,32,10,26,30,33,0,...,1628,RA SN BR,0.5,0.12,29.06,29.79,14.6,29,15.6,1
18,20,2012-01-01,59,41,50,M,28,40,15,0,...,-,,0.0,0.00,29.78,30.48,10.9,33,10.8,1
19,1,2012-01-02,50,31,41,M,26,35,24,0,...,-,,M,0.01,29.44,29.62,9.8,24,10.3,1
20,2,2012-01-02,46,28,37,12,24,32,28,0,...,1627,,T,0.01,28.51,29.62,12.7,26,13.3,1
21,3,2012-01-02,45,24,35,-1,11,28,30,0,...,1721,,0.0,0.00,29.89,30.63,7.7,32,8.2,1
22,4,2012-01-02,60,37,49,-2,26,39,16,0,...,1742,,0.0,0.00,29.93,30.64,3.7,36,4.8,1
23,6,2012-01-02,60,30,45,-4,27,38,20,0,...,1742,,0.0,0.00,30.09,30.63,9.0,01,9.3,1
24,7,2012-01-02,44,26,35,M,17,29,30,0,...,-,,0.0,0.00,29.23,30.66,5.7,34,6.9,1
25,8,2012-01-02,59,36,M,M,29,40,M,M,...,-,,M,0.00,30.25,M,6.2,36,6.7,1
26,9,2012-01-02,21,11,16,M,8,15,49,0,...,-,SN UP,M,T,29.67,30.44,14.4,32,14.7,1
27,10,2012-01-02,65,45,55,M,33,46,10,0,...,1738,,M,0.00,30.11,30.14,10.2,30,11.2,1
28,11,2012-01-02,63,40,52,-1,31,44,13,0,...,1738,,0.0,0.00,30.10,30.14,10.2,29,11.1,1
29,12,2012-01-02,65,47,56,M,33,46,9,0,...,-,,0.0,0.00,30.09,30.14,11.7,30,12.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20487,11,2014-10-30,81,59,70,4,63,65,0,5,...,1741,TS BR,0.0,0.00,29.91,29.94,1.6,36,3.4,1
20488,12,2014-10-30,81,61,71,M,63,66,0,6,...,-,TSRA BR,0.0,0.09,29.90,29.94,1.5,01,3.3,1
20489,13,2014-10-30,61,32,47,M,26,38,18,0,...,-,,M,0.00,24.51,30.31,4.8,13,6.7,1
20490,14,2014-10-30,77,45,61,5,39,50,4,0,...,1738,,0.0,0.00,28.76,30.13,4.4,34,10.4,1
20491,15,2014-10-30,56,30,43,0,36,39,22,0,...,1641,FG BR,0.0,T,29.54,29.94,1.7,31,2.7,1
20492,16,2014-10-30,57,34,46,M,39,43,19,0,...,-,,M,0.00,29.79,29.91,4.0,30,4.6,1
20493,17,2014-10-30,77,43,60,M,41,50,5,0,...,-,,0.0,0.00,29.45,30.14,2.6,32,5.1,1
20494,18,2014-10-30,79,56,68,5,51,58,0,3,...,1739,RA,0.0,T,29.60,30.11,2.9,14,5.6,1
20495,19,2014-10-30,51,32,42,-4,33,40,23,0,...,1647,RA,0.0,T,29.31,30.08,5.5,27,6.0,1
20496,20,2014-10-30,80,52,66,M,50,57,0,1,...,-,,0.0,0.00,29.40,30.11,1.6,14,4.9,1
20497,1,2014-10-31,53,40,47,M,36,41,18,0,...,-,,M,0.00,29.87,30.03,5.4,04,5.8,1
20498,2,2014-10-31,49,40,45,0,35,40,20,0,...,1643,,0.0,0.00,28.90,30.00,6.2,05,7.0,1
20499,3,2014-10-31,55,33,44,-12,32,41,21,0,...,1729,,0.0,0.00,29.65,30.36,11.1,35,11.5,1
20500,4,2014-10-31,76,56,66,-1,47,56,0,1,...,1745,RA BR,0.0,0.30,29.55,30.23,6.0,01,6.5,1
20501,5,2014-10-31,M,M,M,M,37,M,M,M,...,1640,,M,M,M,30.01,10.8,05,M,1
20502,6,2014-10-31,76,51,64,0,47,55,1,0,...,1745,RA BR,0.0,0.17,29.72,30.22,11.3,36,11.7,1
20503,7,2014-10-31,58,38,48,M,32,41,17,0,...,-,,0.0,0.00,29.00,30.37,11.0,01,11.6,1
20504,8,2014-10-31,78,55,67,M,M,M,0,2,...,-,RA,M,T,29.82,M,M,M,5.1,1
20505,9,2014-10-31,39,25,32,M,18,27,33,0,...,-,,M,0.00,29.74,30.52,8.3,36,8.7,1
20506,10,2014-10-31,77,63,70,M,51,59,0,5,...,1741,,M,0.00,29.82,29.84,6.9,31,7.8,1
20507,11,2014-10-31,75,50,63,-2,53,57,2,0,...,1740,,0.0,0.00,29.82,29.85,5.3,30,6.1,1
20508,12,2014-10-31,75,60,68,M,53,59,0,3,...,-,BR,0.0,0.00,29.80,29.85,7.0,32,7.5,1
20509,13,2014-10-31,58,35,47,M,28,37,18,0,...,-,,M,0.00,24.36,30.18,6.1,17,7.2,1
20510,14,2014-10-31,60,38,49,-7,31,42,16,0,...,1737,,0.0,0.00,28.98,30.36,11.9,01,12.5,1
20511,15,2014-10-31,50,32,41,-2,34,38,24,0,...,1640,,0.0,0.00,29.65,30.03,0.3,03,0.6,1
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,-,,M,0.00,29.90,29.99,4.5,03,5.3,1
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,-,RA,0.0,0.00,29.72,30.39,9.2,01,9.3,1
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,1738,,0.0,0.00,29.78,30.28,10.6,36,11.2,1
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,1646,RA SN,0.1,0.02,29.51,30.24,20.4,34,20.9,1
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,-,,0.0,0.00,29.57,30.27,10.5,36,11.2,1

In [15]:
#tk = test.merge(key, left_on="store_nbr", right_on="store_nbr")
    
tmpResult = tmpRTResult.merge(w, right_on="station_nbr")
tmpResult

TypeError: object of type 'NoneType' has no len()

In [12]:
w = pd.DataFrame(weather, columns=["station_nbr", "date", "codesum"])
w

       station_nbr        date         codesum
0                1  2012-01-01      RA FZFG BR
1                2  2012-01-01              RA
2                3  2012-01-01
3                4  2012-01-01
4                6  2012-01-01
5                7  2012-01-01
6                8  2012-01-01           RA BR
7                9  2012-01-01              UP
8               10  2012-01-01       FG+ FG BR
9               11  2012-01-01       FG+ FG BR
10              12  2012-01-01       FG+ FG BR
11              13  2012-01-01
12              14  2012-01-01
13              15  2012-01-01  RA FG+ FZFG BR
14              16  2012-01-01      RA MIFG BR
15              17  2012-01-01
16              18  2012-01-01
17              19  2012-01-01        RA SN BR
18              20  2012-01-01
19               1  2012-01-02
20               2  2012-01-02
21               3  2012-01-02
22               4  2012-01-02
23               6  2012-01-02
24               7  2012-01-02
25               8  2012-01-02
26               9  2012-01-02           SN UP
27              10  2012-01-02
28              11  2012-01-02
29              12  2012-01-02
...            ...         ...             ...
20487           11  2014-10-30           TS BR
20488           12  2014-10-30         TSRA BR
20489           13  2014-10-30
20490           14  2014-10-30
20491           15  2014-10-30           FG BR
20492           16  2014-10-30
20493           17  2014-10-30
20494           18  2014-10-30              RA
20495           19  2014-10-30              RA
20496           20  2014-10-30
20497            1  2014-10-31
20498            2  2014-10-31
20499            3  2014-10-31
20500            4  2014-10-31           RA BR
20501            5  2014-10-31
20502            6  2014-10-31           RA BR
20503            7  2014-10-31
20504            8  2014-10-31              RA
20505            9  2014-10-31
20506           10  2014-10-31
20507           11  2014-10-31
20508           12  2014-10-31              BR
20509           13  2014-10-31
20510           14  2014-10-31
20511           15  2014-10-31
20512           16  2014-10-31
20513           17  2014-10-31              RA
20514           18  2014-10-31
20515           19  2014-10-31           RA SN
20516           20  2014-10-31

[20517 rows x 3 columns]